@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

header {
    width: 100%;
    height: 150px;
    background-color: #5434af;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 28px;
    color: #ededed;
    cursor: pointer;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }
  
  nav ul li a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size:1em;
    padding: 8px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    background-color:#ffef00;
    color:#393939;
    transition:.6s;
    font-weight: 490;
  }
  
  a.active, a:hover {
    background-color:#ffef00;
    color:#393939;
    transition:.6s;
    font-weight: 490;
  }


#Descricao-geral {
    font-size: 20px;
    margin-bottom: 40px;
}

#Descricao-geral h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#Descricao-geral h2 {
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}

#Descricao-geral li {
    flex-direction: column;
    text-align:start;
    margin-left: 40px;
    margin-bottom: 20px;
}

  /* UPLOAD IMAGEM */

  .cognito {
    height: 740px !important;
    overflow: hidden !important;
  }

  

  /* FOOTER */

  footer {
    background-color: #5434af;
    display: block;
    float: left;
    width: 100%;
    padding: 40px;
    column-count: 3;
    
  }
  
  footer p {
    color: #ffffff;
    font-size: 1rem;
  }
  
  footer small {
    font-size: 80%;
    display: block;
  }
  
  #logo-footer {
    float: left;
    width: 50px;
    height: auto;
  
  }
  
  #logo-whats {
    width: 30px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 40px;
  }
  
  #texto-final2 {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #informacao {
   float: left;
   margin-top: 18px;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }
  
  #mapa {
    width: 35px;
    height: auto;
    float: right;
    margin-top: 9px;
    margin-left: 10px;
  }
  
  #div-final {
    float: right;
    margin-top: 10px;
  }

  /* RESPONSIVO */

@media screen and (min-width:1919px) {
  nav {
    width: 100%;
    height: 140px;
  }
  .brand {
    font-size: 40px;
    margin-left: 160px;
  }
  nav ul {
    margin-right: 100px;
  }
  nav ul li a {
    font-size: 17px;
    padding: 10px 30px;
  }
  #Descricao-geral h2 {
    font-size: 40px;
    padding-top: 30px;
  }
  #Descricao-geral h3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  #Descricao-geral li {
    font-size: 20px;
    margin:30px;
    list-style-type: none;
  }
  .cog-form__content {
    font-size: 15px !important;
  }
  .cognito {
    height: auto !important;
  }
  footer p {
    font-size: 19px;
    margin-left: 20px;
    
  }
  #div-final {
    margin-right: 90px;
  }
    #texto-final2 {
      margin-left: 20px;
    }

  #logo-footer {
    width: 55px;
    margin-left: 60px;
  }
  #logo-whats {
    width: 45px;
    margin-left: 104px;
  }
  #mapa {
    width: 45px;
  }
  .content .header-block {
    height: 480px;
  }
  footer {
    padding: 30px;
  }
  
}

@media screen and (max-width:1680px) {
  #Descricao-geral li {
    list-style-type: none;
    margin-left: 30px;
  }
  nav ul {
    margin-right: 150px;
  }
  .brand {
    font-size: 30px;
    margin-left: 240px;
  }
  footer {
    padding: 30px;
  }
  footer p {
    font-size: 17px;
  }
  #logo-footer {
    width: 50px;
    margin-top: -3px;
  }
  #logo-whats {
    width: 38px;
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 0px;
  }
  #texto-final2 {
    margin-left: 30px;
    margin-top: -3px;
  }
  #mapa {
    width: 40px;
    margin-left: 3px;
    margin-top: 0px;
  }
  #informacao {
    margin-top: 9px;
  }
  #div-final {
    margin-top: 9px;
    margin-right: 30px;
  }
}

@media screen and (max-width:1440px) {
    .content {
      width: 80%;
    }
    #Descricao-geral li {
      list-style-type: none;
      margin-left: 30px;
    }
    .cog-form__content {
      font-size: 16px !important;
    }
    footer {
      padding: 30px;
    }
    footer p {
      font-size: 15px;
    }
}

@media screen and (max-width:1024px) {
  .brand {
    margin-left: 0px;
  }
  nav ul {
    margin-right: 0px;
  }
  #Descricao-geral li {
    list-style-type: none;
  }
  footer {
    padding: 20px;
  }
  footer p {
    font-size: 12px;
    margin-left: 12px;
  }
  #mapa {
    width: 30px;
    margin-right: 29px;
    margin-left: 9px;
    margin-top: 5px;
  }
  #logo-whats {
    width: 30px;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: 5px;
  }
  #logo-footer {
    width: 38px;
    margin-top: 0px;
    margin-left: -3px;
  }
  #texto-final2 {
    margin-top: 5px;
    margin-left: -4px;
  }
  #informacao {
    margin-top: 10px;
  }
  #div-final {
    margin-top: 5px;
    margin-right: 17px;
    margin-left: -28px;
  }
  .cognito {
    height: 780px !important;
  }
  
}

@media screen and (max-width:425px) {
  nav ul li {
    padding: 5px;
  }
  .brand {
    font-size: 28px;
    margin-left: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  nav ul li a {
    font-size: 15px;
    padding: 7px 4px;
  }
  .content {
    width: 100%;
  }
  #Descricao-geral h2 {
    font-size: 28px;
  }
  #Descricao-geral {
    font-size: 18px;
    margin-left: 0px;
  }
  .cog-form__content {
    font-size: 14px !important;
  }
  .cognito {
    width: 85% ;
    margin-left: 35px;
    height: 900px !important;
  }
  footer {
    padding: 10px;
    column-count:auto ;
}
footer p {
  font-size: 17px;
  margin-left: -14px;
}
footer small {
  font-size: 90%;
}
#logo-footer {
  width: 40px;
  float: left;
  height: auto;
}
#texto-final2 {
  margin-top: -40px;
  width: 80%;
  float: left;
  margin-left: 65px;
}
#logo-whats {
  margin-left: 0;
  width: 35px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
}
#informacao {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 142px;
  float: left;
}
#mapa {
  margin-right: 18px;
  margin-left: -45px;
  width: 35px;
  margin-top: 20px;
  float: left;
  height: auto;
}
#div-final {
  margin-top: 15px;
  width: 70%;
  float: left;
  margin-left: 13px;
}
  
}

@media screen and (max-width:390px) {
  nav ul li {
    padding: 5px;
  }
  nav ul {
    margin-right: 0px;
  }
  .brand {
    font-size: 26px;
    margin-left: 0;
  }
  nav ul li a {
    font-size: 13px;
    padding: 9px 9px;
  }
  #Descricao-geral h2 {
    font-size: 21px;
  }
  #Descricao-geral h3 {
    font-family: sans-serif;
    font-size: 15px;
  }
  #Descricao-geral li {
    text-align: start;
    margin-left: 30px;
    font-size: 14px;
    list-style-type: none;
  }
  #informacao {
    margin-top: 18px;
    margin-left: 22px;
    margin-right: 96px;
    float: left;
  }
  .cognito {
    height: 900px !important;
  }
  footer {
    padding: 20px;
    column-count:auto ;
}
footer p {
  font-size: 13px;
  margin-left: -14px;
}
footer small {
  font-size: 90%;
}
#logo-footer {
  width: 40px;
  float: left;
  height: auto;
}
#texto-final2 {
  margin-top: -40px;
  width: 80%;
  float: right;
  margin-left: 65px;
}
#logo-whats {
  margin-left: 0;
  width: 35px;
  height: auto;
  margin-top: 19px;
  margin-right: 0px;
}
#informacao {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 117px;
  float: right;
}
#mapa {
  margin-right: 0px;
  margin-left: -35px;
  width: 35px;
  margin-top: 72px;
  float: left;
  height: auto;
}
#div-final {
  margin-top: 34px;
  width: 70%;
  float: left;
  margin-left: 29px;
}
}

@media screen and (max-width:326px) {
  nav ul {
    margin-right: 0px;
  }
  nav ul li {
    padding: 8px;
  }
  nav ul li a {
    font-size: 12px;
    padding: 7px 5px !important;
  }
  #Descricao-geral h2 {
    font-size: 20px;
  }
  #Descricao-geral h3 {
    font-size: 13px;
  }
  #Descricao-geral li {
    font-size: 14px;
    margin-left: 15px;
  }
  .cog-form__content {
    font-size: 12px !important;
    overflow-y: hidden !important;
    margin-left: 0px !important;
  }
  .cognito {
    height: 860px !important;
    width: 80%;
    margin-left: 30px;
  }
  footer p {
    font-size: 11px;
  }
  #texto-final2 {
    margin-left: 50px;
    margin-right: -19px;
    margin-top: -34px;
  }
  #informacao {
    margin-right: 76px;
  }
  #div-final {
    margin-left: 72px;
    margin-top: 22px;
  }
}